@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


/*RESET*/
*{
    margin: 0; 
    padding: 0;
    font-size: 100%; 
    box-sizing: border-box;
    font-family: 'Open sans', sans-serif;}

      nav, ul{
          list-style: none;
        }

        a{
            text-decoration: none; 
            cursor: pointer; 
            opacity: 0,9;
        }

        a:hover{ 
            opacity: 1;
        }

/*HEADER*/

header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: white;
}

header img{
    width: 200px;
}
header nav{
    display: flex;
}
header li a{
    color:#191c03;
}
header li{
    margin: 0 15px;
}
header:first-child{
    margin-left: 0;
}
header:last-child{
    margin-right: 0;
}
@media (max-width: 700px) {
    header{flex-direction: column;}
    header img{margin-bottom: 15px;}
    }
/*HERO*/

.hero{
    background-size: cover;
    background-image: url(../img/hero.jpg);
    min-height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hero h1{
    font-size: 3.2rem;
    margin-bottom: 15px;
}
.hero h3{
    font-size: 2.5rem;
    margin-bottom: 15px;
}
.hero .btn{
    background-color: white;
    padding: 20px 50px;
    color: #191c03;
    border-radius: 4px;
}

@media (max-width: 700px) {
   .hero h1{font-size: 2.5rem;}
   .hero h3{font-size: 1.5rem;}
}

/*conheca o hotel*/
.conheca-o-hotel{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 100px 50px;
}
.conheca-o-hotel h3{
    font-size: 2.0rem;
    margin-bottom: 35px;
}
.conheca-o-hotel p{
    max-width: 800px;
    margin-bottom: 35px;
}
.conheca-o-hotel hr{
    background-color:#191c03;
    width: 200px;
    height: 2px;
    border: none;
    margin-bottom: 35px;
}
.conheca-o-hotel .grid{
width: 100%;
display: flex;
flex-wrap: wrap;
}
.conheca-o-hotel .grid li{
    height: 350px;
    padding: 20px;
    border-radius: 4px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}

.conheca-o-hotel .grid .small{
    flex-basis: 40%;
}
.conheca-o-hotel .grid .large{
    flex-basis: 60%;
}
@media (max-width: 700px) {
    .conheca-o-hotel .grid .small{flex-basis:100%;}
    .conheca-o-hotel .grid .large{flex-basis:100%;}
}

/*CARACTERISTICAS*/
.caracteristicas{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:  100px 50px;
    background-color:#191c03 ;
}
.caracteristicas h3{
    font-size: 2.0rem;
    margin-bottom: 35px;
    color: white;
}
.caracteristicas p{
    color: white;
    margin-bottom: 35px;
    max-width:800px;
}
.caracteristicas hr{
    background-color:white;
    width: 200px;
    height: 2px;
    border: none;
    margin-bottom: 35px;
}
.caracteristicas .grid{
width: 100%;
display: flex;
}
.caracteristicas .grid li{
    padding: 0 30px;
    
}
.caracteristicas .grid li i{
    color: #c3c63b;
    font-size: 3.5rem;
    margin-bottom: 30px;
}
.caracteristicas .grid li h4{
    font-size: 1.5rem;
    color: #c3c63b;
    margin-bottom: 30px;
}
@media (max-width: 850px) {
    .caracteristicas .grid{flex-direction: column;}
 }
    
/*NEWSLETTER*/
.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:  100px 50px; ;
}
.newsletter h3{
    font-size: 2.0rem;
    margin-bottom: 35px;
    color: #c3c63b;
}
.newsletter p{
    color: #c3c63b;
    margin-bottom: 35px;
    max-width:800px;
}
.newsletter hr{
    background-color:#c3c63b;
    width: 200px;
    height: 2px;
    border: none;
    margin-bottom: 35px;
}
.newsletter form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.newsletter input {
    padding: 15px;
    border: 1px solid #c3c63b;
    border-radius: 4px;
    margin-right: 15px;
    flex: 1;
}
.newsletter button{
    background-color: #c3c63b;
    border: none;
    padding: 15px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}